.logo-link {
    display: inline-block;
    width: auto; 
  }
  
  .logo-container {
    width: 60px; 
    height: auto; 
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .logo-image {
   width: 250px;
    height: auto; 
    object-fit: contain;
    fill: burlywoo;
  }
  