
<div class="modal fade" id="fileImportModal" tabindex="-1" aria-labelledby="fileImportModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="fileImportModalLabel">Upload File</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label for="fileInput" class="form-label">Select a file to upload</label>
            <input type="file" id="fileInput" class="form-control" accept=".csv, .xml" (change)="onFileChange($event)" />
            <div class="form-text">You can upload files of type (.csv, .xml) only.</div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="uploadFile()">Import File</button>
        </div>
      </div>
    </div>
  </div>